img {
  width: 100%;
  height: auto;
}

.mobile {
  display: block;
}

.desktop {
  display: none;
}

.hero .title {
  color: #fff;
  font-size: 60px;
  margin-bottom: 20px;
}

.hero .logo {
  /* text-align: center; */
  width: 100% !important;
  height: auto !important;
  padding: 0 !important;
  position: relative;
  /* margin-bottom: 40px; */
}


/* .hero .button {
  background: #F6A623;
  position: absolute;
  top: 50%;
} */

@media screen and (min-width: 768px) {
  .mobile {
    display: none;
  }
  .desktop {
    display: block;
  }
}